<article id="post-7" class="post-7 page type-page status-publish hentry intro" style="display:block;">
	<header class="entry-header">
		<h1 class="entry-title">Home</h1>
	</header><!-- .entry-header -->

	<div class="entry-content">
		<p>
			<img src="http://twobitlabs.com/wp-content/uploads/2011/01/android-ios2.png" alt="iPhone Development, Android development, iPad Development" title="iPhone Development, Android development, iPad Development" width="150" height="326" class="alignleft size-full wp-image-38" style="margin-top: -6px">
			Two Bit Labs builds  
			<strong><a href="/what-weve-done/" title="iPad Development" target="_blank">iPad</a></strong>, 
			<strong><a href="/what-weve-done/" title="iPhone Development" target="_blank">iPhone</a></strong>, 
			and <strong><a href="/what-weve-done/" title="Android Development" target="_blank">Android</a></strong> 
			apps your users will love! We turn your great ideas into great mobile apps. We take pride in building apps your users will love that look great — both on the device and under the hood.
		</p>
		<p>
			<img src="http://twobitlabs.com/wp-content/uploads/2011/01/ratings2.png" alt="" title="app store ratings" width="158" height="112" class="alignright size-full wp-image-431">
			<strong>Results</strong><br>
We practice agile planning and estimation, 
<a href="/2011/01/pair-programming/">pair programming</a>,
 and <a href="/2011/04/behavior-driven-development-what/">behavior-driven development</a>. 
 But what matters are results: some of the highest rated apps in the app store that users rave about!
		</p>
		<p>
			<strong>Cost effective</strong><br>
				From our first meeting, you’ll be working directly with the people building your app. Which means your app is exactly what you want and when you want it! Feel free to ask us for references.
		</p>
	</div><!-- .entry-content -->
</article><!-- #post-## -->
